[SddmGreeterTheme]
Name=Solarized sddm theme
Description=Solarized theme for sddm
Author=Víctor Granda García
Copyright=(c) 2016, Víctor Granda García
License=CC-BY-SA
Type=sddm-theme
Version=0.1.8
Website=https://github.com/MalditoBarbudo/solarized_sddm_theme
Screenshot=solarized_sddm_theme.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=victorgrandagarcia@gmail.com
Theme-Id=solarized-sddm-theme
Theme-API=2.0
