[SddmGreeterTheme]
Name=Solarized theme
Description=Solarized theme for sddm
Author=Víctor Granda
Copyright=(c) 2015, Víctor Granda
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=victorgrandagarcia@gmail.com
Theme-Id=solarized_sddm_theme
Theme-API=2.0
